<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c77.esteban.sensors"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.c77.esteban.sensors.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.c77.esteban.sensors.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.c77.esteban.sensors.MainActivity"
            android:theme="@style/AppAcTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c77.esteban.sensors.MainActivity" />
        </activity>
        <activity
            android:name="com.c77.esteban.sensors.ThrowDice"
            android:label="@string/title_activity_throw_dice"
            android:parentActivityName="com.c77.esteban.sensors.MainActivity" >
        </activity>
        <activity
            android:name=".ShowAccelerometer"
            android:label="@string/title_activity_show_acelerometer"
            android:parentActivityName="com.c77.esteban.sensors.MainActivity" >
        </activity>
        <activity
            android:name="com.c77.esteban.sensors.ShowMagnetometer"
            android:label="@string/title_activity_show_magnetometer" >
        </activity>
    </application>

</manifest>
